/* Linked css - main styles */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #dfdbdb;
}

/* header styles */

h1 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size: 27px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: right;
  position: relative;
}

h1:hover {
  opacity: 0.5;
  transition: 0.5s ease;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  margin-left: 15px;
  margin-bottom: 10px;
  height: 1em;
  position: relative;
  text-decoration: underline;
  opacity: 0.7;
}

h4 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 5px;
  text-align: right;
  position: relative;
}

h4:hover {
  opacity: 0.7;
  transition: 0.8s ease;
}

/* line break styles (hr tags) */

.line {
  width: 100%;
  height: 2px;
  border: 2px;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.8);
  text-align: center;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2)
}

/* container styles */

.box {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  float: right;
  width: 100%;
  height: 100%;
  max-height: 100px;
}

.header {
  margin-top: 12px;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  flex-wrap: wrap;
}

.footerTitle {
  display: flex;
  flex-wrap: wrap;
}

.img-responsive {
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
}

.img-responsive-main {
  width: 100%;
  height: auto;
}

/* Name, Title */

.title {
  margin: auto;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

/* footer info columns */

.columnLogo {
  display: flex; 
  flex-direction: column;
  flex-basis: 33.3%; 
  align-items: center;
  max-height: 200px;
  margin-bottom: 20px;
}

/* footer photos */

#codepen {
  max-width: 100%;
  height: auto;
  position: relative;
  border-radius: 50%;
  margin-top: 20px;
}

#codepen:hover {
  opacity: 0.5;
  transition: all 1s ease;
  transform: rotate(1080deg);
}

#github {
  max-width: 100%;
  width: 200px;
  height: auto;
  position: relative;
  border-radius: 50%;
  margin-top: 20px;
}

#github:hover {
  opacity: 0.5;
  transition: all 1s ease;
  transform: rotate(1080deg);
}

#heroku {
  max-width: 100%;
  height: auto;
  position: relative;
  border-radius: 25%;
  margin-top: 20px;
}

#heroku:hover {
  opacity: 0.5;
  transition: all 1s ease;
  transform: rotate(1080deg);
}

#udacityLogo:hover {
  opacity: 0;
  transition: all 0.9s ease;
  transform: rotate(720deg);
}

/* copyright */

.copyright {
  text-align: center;
  font-size: 0.6em;
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  margin: 5%;
}

/* link sytle */

.description {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6em;
  position: absolute;
}

/* breakpoints */

@media screen and (min-width: 700px) {
  .header {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 700px) {
  .content { 
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 700px) {
  .footer {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 700px) {
  .footerTitle {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 500px) {
  .copyright {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
  }
}